* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0e10;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
}

#menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.menu-item {
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #191d20;
}

.menu-item img {
    width: 410px;
    height: 273px;
    object-fit: cover;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.food-details {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-name {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.food-price {
    font-size: 20px;
    color: #ffffff;
}

.food-add {
    background-color: #363a43;
    color: #878787;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}